input{
  height: 35px;
  width: 210px;
  box-sizing: border-box;
}
button{
  width: 105px;
  height: 35px;
}
.container{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
h3{
  background-color: lightgray;
  box-sizing: border-box;
  height: 35px;
  width: 420px;
  padding: 0;
  margin: 0;
}